
<div class="timeline">
  <div class="timeline-event">
    <div class="timeline-event-separador">
      <div class="timeline-event-circle"></div>
      <div class="timeline-event-connector"></div>
    </div>
    <span class="timeline-event-content">Criação de prontuário</span>
  </div>
  <div class="timeline-event">
    <div class="timeline-event-separador">
      <div class="timeline-event-circle"></div>
      <div class="timeline-event-connector"></div>
    </div>
    <span class="timeline-event-content">Criação de episódio</span>
  </div>
  <div class="timeline-event">
    <div class="timeline-event-separador">
      <div class="timeline-event-circle"></div>
      <div class="timeline-event-connector"></div>
    </div>
    <span class="timeline-event-content">Vínculo de prontuários</span>
  </div>
  <div class="timeline-event">
    <div class="timeline-event-separador">
      <div class="timeline-event-circle"></div>
      <div class="timeline-event-connector"></div>
    </div>
    <span class="timeline-event-content">Integração com legados</span>
  </div>
  <div class="timeline-event">
    <div class="timeline-event-separador">
      <div class="timeline-event-circle"></div>
    </div>
    <span class="timeline-event-content">Alocação no leito</span>
  </div>
</div>

